<!DOCTYPE html>
<html lang="en">
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/css/style.css" />

<body>
  <div class="container">
      <div class="jumbotron wedding-image-header">
        <h1> My Wedding Trend </h1>
            <div class="header">
               <h3 class="text-muted"> </h3>
            </div>
            <hr/>
        <div>
            <form action="upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file"><br /><br />
                <input type="submit" value="Upload">
            </form>
        </div>
      </div>
   </div>
</body>
<script>
    $('.jumbotron').css('background-color', 'transparent');
</script>

</html>

